{% extends 'base/base_home.html' %}
{% set title = 'Desa Siawung' %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Desa Siawung <br> Kabupaten Barru</h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">Selamat Datang di Website Resmi Pemerintah Desa Siawung Kecamatan Barru, Kabupaten Barru, Provinsi Sulawesi Selatan</p>
      </div>
    </div>
  </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="profil">
  <div class="container px-4 px-lg-5">
    <div class="text-center">
      <h2 class="text-white mt-0">Profil Desa Siawung</h2>
      <hr class="divider divider-light" />
      <div class="row justify-content-center mb-5">
        <div class="card col-md-4 mx-5 mb-2" style="width: 15rem;">
          <img src="../../../static/assets/img/profil/1.svg" class="card-img-top p-4" alt="...">
          <div class="card-body">
            <p class="card-text">Penyelenggaraan Pemerintahan Desa</p>
          </div>
        </div>
        <div class="card col-md-4 mx-5 mb-2" style="width: 15rem;">
          <img src="../../../static/assets/img/profil/2.svg" class="card-img-top p-4" alt="...">
          <div class="card-body">
            <p class="card-text">Pelaksanaan Pembangunan Desa</p>
          </div>
        </div>
        <div class="card col-md-4 mx-5 mb-2" style="width: 15rem;">
          <img src="../../../static/assets/img/profil/3.svg" class="card-img-top p-4" alt="...">
          <div class="card-body">
            <p class="card-text">Pembinaan Kemasyarakatan Desa</p>
          </div>
        </div>
      </div>
      <!-- <p class="text-white-75 mb-4">“Terwujudnya Desa Siawung Yang Aman, Sehat, Cerdas, Berdaya Saing, Berbudaya dan Bernafaskan Keagamaan”</p> -->
      <a class="btn btn-light btn-xl" href="/profil_desa">Selengkapnya</a>
    </div>
  </div>
</section>
<!-- Sponsor-->
<section class="page-section" id="sponsor">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">Powered by</h2>
    <hr class="divider-wisata" />
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><img src="../../../static/assets/img/client/google.png" height="120px" alt=""></div>
          <h3 class="h4 mb-2">Google Inc.</h3>
          <p class="text-muted mb-0">Website Desa ini dihosting menggunakan Google Cloud</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><img src="../../../static/assets/img/logo/svbarru.png" height="120px" alt=""></div>
          <h3 class="h4 mb-2">KKNT Unhas Gel. 108</h3>
          <p class="text-muted mb-0">Website ini dibuat oleh mahasiswa KKNT Unhas Gel. 108</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><img src="../../../static/assets/img/client/firebase.png" height="120px" alt=""></div>
          <h3 class="h4 mb-2">Firebase</h3>
          <p class="text-muted mb-0">Database yang digunakan web ini adalah firestore dan storage</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><img src="../../../static/assets/img/client/niagahoster.png" height="120px" alt=""></div>
          <h3 class="h4 mb-2">Niagahoster</h3>
          <p class="text-muted mb-0">Domain desa ini dibeli dari web niagahoster</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Objek Wisata-->
<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/1.jpg" title="<a href=''>Dusun Birue</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/1.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kec. Barru</div>
            <div class="project-name">Batu Belandai</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/bukit maddo.jpg" title="<a href='https://goo.gl/maps/9M7dczq4aPQbxfWP7' target='_blank'>Bukit Maddo</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/bukit maddo thumb.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kec. Tanete Rilau</div>
            <div class="project-name">Bukit Maddo</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/lappa laona.jpg" title="<a href='https://goo.gl/maps/JGadpCMSZZbxZfgR6' target='_blank'>Lappa Laona</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/lappa laona.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kec. Tanete Riaja</div>
            <div class="project-name">Lappa Laona</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/to magelli.jpg" title="<a href='https://goo.gl/maps/4eueRGJWnWzaDmy16' target='_blank'>Sarang Burung Waterfall</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/to magelli.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kec. Balusu</div>
            <div class="project-name">Sarang Burung Waterfall</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/celebes canyon.jpg" title="<a href='https://goo.gl/maps/K4N3ZEnD9RwMCNjq8' target='_blank'>Celebes Canyon</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/celebes canyon.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kec. Tanete Riaja</div>
            <div class="project-name">Celebes Canyon</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../../../static/assets/img/wisata/Pulau Dutungan.jpg" title="<a href='https://goo.gl/maps/K4N3ZEnD9RwMCNjq8' target='_blank'>Pulau Dutungan</a>">
          <img class="img-fluid" src="../../../static/assets/img/wisata/Pulau Dutungan.jpg" alt="..." />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">Kec. Mallusetasi</div>
            <div class="project-name">Pulau Dutungan</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Pengaduan-->
<section class="page-section" id="layanan">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">Layanan Pengaduan</h2>
        <hr class="divider-pengaduan" />
        <p class="text-muted mb-5">Silahkan isi form dibawah ini, kami akan menghubungi anda secepatnya</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-6">
        <form action="{{ url_for('home.index') }}" method="POST">
          <!-- Nama input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="nama" name="nama" type="text" placeholder="Enter your name..." required/>
            <label for="nama">Nama Lengkap</label>
          </div>
          <!-- Jenis Kelamin input-->
          <select class="form-select form-floating mb-3" id="jenis_kelamin" name="jenis_kelamin" required>
            <option selected value="">Jenis Kelamin</option>
            <option value="Laki-Laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
          <!-- Pekerjaan input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="pekerjaan" name="pekerjaan" type="text" placeholder="pekerjaan" required/>
            <label for="pekerjaan">Pekerjaan</label>
          </div>
          <!-- Alamat input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="alamat" name="alamat" type="text" placeholder="alamat" required/>
            <label for="alamat">Alamat</label>
          </div>
          <!-- Email input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" name="email" type="email" placeholder="email"/>
            <label for="email">Email</label>
          </div>
          <!-- Medsos input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="medsos" name="medsos" type="text" placeholder="medsos"/>
            <label for="medsos">Medsos</label>
          </div>
          <!-- Nomor HP input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="nomor" name="nomor" type="tel" placeholder="nomor" required/>
            <label for="nomor">Nomor Hp</label>
          </div>
          <!-- Pengaduan input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="pengaduan" name="pengaduan" type="text" style="height: 10rem" placeholder="pengaduan" required>
            </textarea>
            <label for="pengaduan">Pengaduan</label>
          </div>
          <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Kirim</button></div>
        </form>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-4 text-center mb-5 mb-lg-0">
        <i class="bi-whatsapp fs-2 mb-3 text-muted"></i>
        <div>085240838897 (Sunarti)</div>
        <div>085298360658 (Rais, S.Pd)</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}