{% extends 'base/base_dashboard.html' %}

{% block content %}
  <!-- Content -->
  {% for d in data %}
  <div class="container">
    <div class="card">
      <div class="card-header">{{ d.tanggal }}</div>
      <div class="card-body">
        <a href="/dashboard/{{ d.id }}" class="text-decoration-none"><h5 class="card-title">{{ d.nama }}</h5></a>
        <p class="card-text">{{ d.alamat }}</p>
        <a href="/dashboard/hapus/{{ d.id }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
  
{% endblock %}